.FlexContainer{
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-top: 200px;
    width: 80%;
}

.Para{
    flex: auto;
    font-size: x-large;
    text-align: center;
}

.Title{
flex: auto;
font-size: xx-large;
text-align: center;
font-weight: 900;
}

.Pic{
    flex: 0 1 1;
    margin: 5%;
    width: 40%;
    height: auto;
    border-radius: 10%;
}

.PicBox{
    display: flex;
    justify-content: center;
}