.NavBarBackground {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: blue;
    width: 100%;
    opacity: 80%;
    position: fixed;
    border-color: black;
    margin-top: 100px;
    flex: 1 1;
}

.NavButton {
    display: flex;
    flex: auto;
    margin: 10px;
    width: 10%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 3px;
    border-color: black;
    opacity: 100%;
    font-size: large;
    font-weight: 900;
    background-color: blue;
    
}

.NavButton:hover {
    transform: scale(1.2);    
    border-style: solid;
}