.NavBarBackground {
    
    align-items: center;
    padding: 20px;
    background-color: black;
    width: fit-content;
    margin: 0px;
    border: 0px;
}

.NavButton {
    background-color: lightgray;
    display: flex;
    flex: auto;
    margin: 10px;
    width: 150px;
    align-items: center;
    justify-content: center;
    font-size: medium;
    font: 400;
    border-radius: 20px;
}